{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}OrganizeMe{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <img src="{% static 'img/icon.png' %}" alt="Ícone de organização" class="icon">
            <div class="profile">
                <img src="{% static 'img/profile-icon.png' %}" alt="Ícone de perfil" class="profile-icon">
                <span>Seu perfil</span>
            </div>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
