{% extends "base.html" %}
{% load static %}

{% block title %}Cronograma de Atividades{% endblock title %}

{% block content %}
<h1 class="titulo-centro header">Atividades</h1>
<div class="container">
    {% if atividades %}
        {% for atividade in atividades %}
            <div class="card">
                <p><strong>Matéria:</strong> {{ atividade.materia }}</p>
                <p><strong>Conteúdo:</strong> {{ atividade.conteudo }}</p>
                <p><strong>Status:</strong> {{ atividade.get_status_display }}</p>
                <p><strong>Prazo:</strong> {{ atividade.prazo }}</p>
                <p><a href="{% url 'editar_atividade' atividade.id %}">Editar</a></p>
                <p><a href="{% url 'excluir_atividade' atividade.id %}">Excluir</a></p>
                <p><a href="{% url 'concluir_atividade' atividade.id %}">Concluir</a></p>
            </div>
        {% endfor %}
    {% else %}
        <h3>Você não tem atividades!</h3>
    {% endif %}
</div>
<div class="pagination justify-content-center align-items-center">
    <span class="step-links">
        {% if atividades.has_previous %}
            <a href="?pagina=1" class="btn">&laquo; Início</a>
            <a href="?pagina={{ atividades.previous_page_number }} " class="btn">Anterior</a>
            
        {% endif %}

        <span class="current">
            Página {{ atividades.number }} de {{ atividades.paginator.num_pages }}
        </span>
        

        {% if atividades.has_next %}
            <a href="?pagina={{ atividades.next_page_number }}" class="btn">Próxima</a>
            <a href="?pagina={{ atividades.paginator.num_pages }}" class="btn">Última &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}