{% extends "base.html" %}
{% load static %}

{% block title %}Tela Inicial{% endblock %}

{% block content %}
    <div class="status-section">
        <h2>Em Andamento</h2>
        <div class="task-list">
            {% for task in atividades_em_andamento %}
                <div class="task">{{ task.nome }}</div>
            {% empty %}
                <p>Sem atividades em andamento.</p>
            {% endfor %}
        </div>
    </div>

    <div class="status-section">
        <h2>Pendente</h2>
        <div class="task-list">
            {% for task in atividades_pendentes %}
                <div class="task">{{ task.nome }}</div>
            {% empty %}
                <p>Sem atividades pendentes.</p>
            {% endfor %}
        </div>
    </div>

    <div class="status-section">
        <h2>Finalizadas</h2>
        <div class="task-list">
            {% for task in atividades_finalizadas %}
                <div class="task">{{ task.nome }}</div>
            {% empty %}
                <p>Sem atividades finalizadas.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
