{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil - OrganizeMe{% endblock %}

{% block content %}
    <a href="{% url 'cronograma' %}" class="cronograma-btn">Defina cronograma</a>

    <section class="performance">
        <h2>Farol de Desempenho</h2>
        <div class="status">
            <div class="concluidas">Concluídas: <span></span></div>
            <div class="atrasadas">Atrasadas: <span></span></div>
            <div class="andamento">Em andamento: <span></span></div>
        </div>
    </section>
{% endblock %}
