<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Atividades</title>
</head>
<body>
    <h1>Lista de Atividades</h1>
    <a href="{% url 'criar_atividade' %}">Criar Nova Atividade</a>

    <ul>
        {% for atividade in atividades %}
        <li>
            <strong>{{ atividade.titulo }}</strong>
            <p>{{ atividade.descricao }}</p>
            <p>Status: {{ atividade.get_status_display }}</p>
            <p><a href="{% url 'editar_atividade' atividade.pk %}">Editar</a></p>
            <p><a href="{% url 'excluir_atividade' atividade.pk %}">Excluir</a></p>
            <p><a href="{% url 'concluir_atividade' atividade.pk %}">Concluir</a></p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
