{% extends "base.html" %}
{% load static %}

{% block title %}Login - OrganizeMe{% endblock title %}

{% block content %}
    <div class="container-form">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <label for="username">Usuário:</label>
            <input type="text" name="username" required><br>
            <label for="password">Senha:</label>
            <input type="password" name="password" required><br>
            <button type="submit">Entrar</button>
        </form>
        {% if form.errors %}
        <p>Usuário ou senha inválidos.</p>
        {% endif %}
        <a href="{% url 'password_reset' %}">Esqueci minha senha</a>
        </form>
        <p>Não tem uma conta? <a href="{% url 'cadastro' %}">Cadastre-se</a></p>
        <a class="sair" href="{% url "index" %}">SAIR</a>

        

    </div>
{% endblock content %}