body {
    font-family: Arial, sans-serif;
    background-color: #ebe3f5;
    text-align: center;
    padding: 30px;
}

.container {
    width: 800px;
    margin: auto;
    text-align: center;
}

.header h1 {
    color: #9b78d1;
    font-size: 28px;
}

.login-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-box {
    width: 40%;
    background: #9b78d1;
    color: white;
    padding: 30px;
    border-radius: 10px 0 0 10px;
    text-align: center;
}

.cadastro-box {
    width: 60%;
    padding: 30px;
    background: #fff;
    border-radius: 0 10px 10px 0;
    text-align: center;
}

.btn {
    display: block;
    background-color: white;
    color: #9b78d1;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 15px auto;
    width: 80%;
    text-align: center;
}

.btn:hover {
    background-color: #ddd;
}
